/* p {
    background-color: yellow;
    display: inline;
}

span {
    background-color: green;
    display: none;
} */

p {
    font-size: 35px;
}

div {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.azul {
    border: solid 4px blue;
    background-color: lightblue;
}

.amarelo {
    border: solid 4px red;
    background-color: yellow;
    position: sticky;
    top: 100px;
    /* left: 40px; */
}